APP_NAME="Inventory Services"
APP_ENV=local
APP_KEY=base64:BMQTxYiPvE6aZ8FjyFXqIleCaOACKI1C70/JePEczus=
APP_DEBUG=true
APP_URL=http://inventory.localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=ep-your-neon-host.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=change_me
DB_SSLMODE=require

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

SERVICE_NAME=inventory
